.App {
  text-align: center;
}

.Header {
  margin: 3vh 5%;
}

.DivSection {
  display: flex;
  justify-content: space-around;
  margin: 3vh 5%;
}

.first-section {
  display: flex;
  flex-direction: column;
}

.four {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 3vh 5%;
}

.four img {
  width: 40px;
}

.img_gallery {
  display: grid;
  margin: 10vh 5%;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.img_gallery img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  min-width: 100%;
  min-height: 50%;
}